.wrapper{font-size:15px;font-size: 5vmin;font-family: S-CoreDream-3Light, sans-serif;}
.content1{}
.content2{}
.content3{font-size: 1.1em;}
.content4{}
.content5{font-size: 0.6em;}
.detail1{font-size: 1.4em;}
.detail2{font-size: 1.2em;}
.detail3{font-size: 1.3em;}
.detail4{font-size: 1.6em;}sudo
.detail5{font-size: 1.3em;}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff');
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
         url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff2');
         url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('truetype');

    font-weight: normal; font-style: normal;
}

    /* input placeholder 사이즈, 글꼴 수정 */
input::placeholder {
  font-style: italic;
}
input::-webkit-input-placeholder {
  font-style: italic;
}
input:-ms-input-placeholder {
  font-style: italic;
}