{% extends 'eventpage/header.html' %}
{% load static %}
{% block content %}
<script>
    function validate_username() {
         var result = false;
         var username = $("#username").val();
         $.ajax({
            url: '/ajax/validate_username/',
            data: {
              'username': username
            },
            dataType: 'json',
            async: false,
            success: function (data) {
              if (data.is_taken) {
                result = true;
              }
            }
         });
         return result;
    }
    function validate_userphone(){
        var result = false;
        var userphone = $("#userphone").val();
           $.ajax({
            url: '/ajax/validate_userphone/',
            data: {
              'userphone': userphone
            },
            dataType: 'json',
            async: false,
            success: function (data) {
              if (data.as_taken){
                result = true;
              }
            }
         });
         return result;
    }

      $(function(){
         $("#getResult").click(function(){
            $("#error1").css("display","none");
            $("#error2").css("display","none");

            var v_username = validate_username();
            var v_userphone = validate_userphone();

            if( v_username == false ){
                $("#error1").css("display","block");
            }
            if( v_userphone == false ){
               $("#error2").css("display","block");
            }

            if( v_username == true && v_userphone == true){
                return true;
            }
            return false;
         });
      });
</script>
<div class="wrapper">
    <div class="container">

        <form class="form" method="POST" action="{% if title == 'laviniaA' %}{% url 'laviniaA_success' %}
                                    {% elif title == 'laviniaN' %}{% url 'laviniaN_success' %}
                                    {% elif title == 'rainbowhouseA' %}{% url 'rainbowhouseA_success' %}
                                    {% elif title == 'rainbowhouseN' %}{% url 'rainbowhouseN_success' %}
                                    {% endif %}">
            {% csrf_token %}
            <div class="container-content">
                <div>
                    <div class="content1">
                        <img class="img" src="{% static 'images/img-collabo.jpg' %}">
                    </div>
                </div>
                <div>
                    <div class="content2">
                        <!-- 스푼코믹스에서 두편의 웹툰을 보고<br> -->
                        이벤트에 응모하신 <span class="span1">50분께</span> 추첨을 통해<br>
                        <span class="span1">아라찌 인형</span>을 선물로 드립니다.
                    </div>
                </div>
                <div>
                    <div class="img2">
                        <img class="img" src="{% static 'images/img_gift.jpg' %}">
                    </div>
                </div>
                <div class="content3">
                    <div>
                        이벤트 기간<br>
                        2019.06.26 ~ 2019.07.03 오후5시<br><br>
                        대상 : 스푼코믹스 회원<br>
                        <!-- '라비니아','레인보우하우스' 웹툰을<br>
                         구매한 스푼코믹스 유료이용자 -->
                    </div>
                </div>
                <div class="content4">
                    <div>
                        <p class="detail1">이벤트 응모하기</p>
                        <p class="detail2">스푼코믹스 아이디 *</p>
                        <input class="detail3" type="email" id="username" name="name" placeholder="spooncomics@email.com" required="required" maxlength="25" />
                        <p class="error" id="error1">이미 등록된 아이디 입니다.</p>
                        <p class="detail2">휴대폰 번호 *</p>
                        <input class="detail3" type="tel" id="userphone" name="phone" placeholder=" - 없이 입력 하세요." required="required" maxlength="11"/><br>
                        <p class="error" id="error2">이미 등록된 번호 입니다.</p>
                        <button class="detail4" type="submit" id="getResult">완료</button>

                    </div>
                </div>
                <div class="content5">
                    <div>
                        <p class="detail5">&nbsp;&nbsp;유의사항</p>
                        <p class="detail6">
                        &nbsp;- 웹툰 구매 기록이 없는 ID는 당첨에서 제외될 수 있습니다.<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;(중복 응모 방지차원)<br>
                        &nbsp;- 본 이벤트는 해당 페이지를 통해서만 이벤트 참여가 가능합니다.<br>
                        &nbsp;- 당첨 발표는 7월 11일에 입력하신 휴대폰 번호로 안내됩니다.<br>
                        &nbsp;- 안내 문자 발송 후 2일이내 답장이 없으실 경우 당첨이 취소됩니다.<br>
                        &nbsp;- 경품은 이벤트 사정에 따라 고객의 동의 없이 변경될 수 있습니다.<br>
                        &nbsp;- 이벤트 참여 후 휴대폰 명의 변경, 해지, 번호 이동 시 <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;당첨 취소 처리될 수 있습니다.<br>
                        &nbsp;- 경품은 타 상품으로 교환 및 환불이 불가능합니다.<br>
                        &nbsp;- 이벤트 문의 02-566-2730<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;(평일 오전10시~오후5시, 토/일/공휴일 휴무)<br>
                        &nbsp;
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}